- title "About this Site"

h2 Why this site exists

p
  ' This <a href="http://rubyonrails.org/">Ruby on Rails</a> web app is a portfolio piece by <a href="http://roryokane.com/">Rory O’Kane</a>.
    The source code is freely available on <a href="http://example.com/roryokane/CAC-Student-Podcasts">GitHub</a>.

p It is an updated version of a site that I made in high school, at the request of a teacher at the time, Mark Trumpold. Thus, this site was built to real requirements – I didn’t just make up an idea that is easy to build a website for. Mr. Trumpold no longer needs this site, but developing it continues to make for good practice.

p Below is the “in-character” description of this site, as it would be if this site were not a portfolio piece.

h2 This site’s ostensible function

p This is a site where students of <a href="http://cacegypt.org/">Cairo American College</a> can upload podcasts for class. This site is designed and programmed by Rory O’Kane, and managed by Mark Trumpold.

h4 What is a podcast?
p A podcast is a series of sound or video files that can be subscribed to in order to receive new “episodes”, which are also called podcasts. See <a href="https://en.wikipedia.org/wiki/Podcast">Wikipedia</a> for more detail.
