- content_for(:page_title)
  | About this Site
p This is a site where students of <a href="http://cacegypt.org/">Cairo American College</a> can upload podcasts for class. This site is designed and programmed by Rory O’Kane, and managed by Mark Trumpold.

h4 What is a podcast?
p From Wikipedia:
blockquote A podcast is a series of audio or video digital-media files which is distributed over the Internet by syndicated download, through Web feeds, to portable media players and personal computers. Though the same content may also be made available by direct download or streaming, a podcast is distinguished from other digital-media formats by its ability to be syndicated, subscribed to, and downloaded automatically when new content is added.
p In short, a podcast is a series of sound or video files that can be subscribed to in order to receive new “episodes”, which are also called podcasts.