- title "About this Site"
p This is a site where students of <a href="http://cacegypt.org/">Cairo American College</a> can upload podcasts for class. This site is designed and programmed by Rory O’Kane, and managed by Mark Trumpold.

h4 What is a podcast?
p A podcast is a series of sound or video files that can be subscribed to in order to receive new “episodes”, which are also called podcasts. See <a href="https://en.wikipedia.org/wiki/Podcast">Wikipedia</a> for more detail.
