@import "sass_functions"

*
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  margin: 2em
  font-family: sans-serif

$link-color: #60140f

a
  color: $link-color
  text-decoration: none
  &:visited
    // not enabling because it would affect main navigation and New/Edit links too, looking strange
    //color: darken($link-color, 10%)
  &:hover
    text-decoration: underline

#site-name
  font-size: 3em
  a
    color: black
    // &:hover
      color: #60140f
      text-decoration: none

#navbar ul
  margin: 0
  padding: 0
  list-style-type: none
  height: 2em
  li
    float: left
    margin: 0em 1em
    &:first-child
      margin-left: 0
    a
      padding: 0.5em 0.5em
      @include both-horizontal("border", 1px solid #999)
      text-decoration: none
      &#current
        color: #333

label
  display: block

.related-links
  margin-top: 1.5em

div
  &.field
    margin-bottom: 0.75em
  &.actions
    margin-bottom: 1.5em

.notice
  color: green

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 1em
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    list-style-type: square

footer
  font-size: 0.75em
  hr
    margin-top: 2em
  p
    margin-top: 0.5em
